button {
  border: 0;
  line-height: 2.2rem;
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  box-shadow: 0 0 2px;
  background-color: rgb(249 249 249);
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

th {
  background-color: black;
  color: white;
}

.striped tr:nth-child(2n+1) {
  background-color: rgb(199 199 199);
  color: black;
}
